{% extends "main_layout.html" %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock style %}
{% block body %}
  <h1>Product Dashboard {{ request.user.username }}</h1>
  <div class="product-display">
    {% for product in products %}
      <div class="container">
        <div class="card">
          <div class="imgBx">
            {% comment %} djlint:off {% endcomment %}
            <img src="{{ product.photo.url }}" alt="{{ product.title }}" />
          </div>
          <div class="contentBx">
            <h2>{{ product.title }}</h2>
            <div class="size">
              <h3 class="m-0">Average Rating: </h3>
              <span>{{ product.avg_rating }}</span>
            </div>
            <div class="color">
              <h3>Sentiment :</h3>
              <!-- <span class="sentiment-percent">75%</span>&nbsp;
              <span class="sentiment-percent">Happy</span> -->
            </div>
            <a href="{% url 'product-detail' product.pk %}">Learn More</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <a href="{% url 'product_form' %}">Product form</a>
  <br />
  <a href="{% url 'logout' %}">Logout</a>
{% endblock body %}
